body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
    text-align : center; /* aligns canvas to center ig */
}
#Board {
    background : url(imgs/flappybirdbg.png);
}
